[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-instafail = "*"
pytest-xdist = "*"
ipython = "*"
pytest-cov = "*"

[packages]
pytest = "*"
pytest-sugar = "*"

[requires]
python_version = "3.8"
